[submodule "pelican-themes/Flex_blue"]
	path = pelican-themes/Flex_blue
	url = https://github.com/yx0906/Flex.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
